@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700;800&family=Mitr:wght@300;400;500;700&display=swap');
.item1 { grid-area: header; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

html,body { 
  margin:0; 
  padding:0; 
  height:100%; 
  width:100%; 
  overflow: hidden;
  font-family: 'Kanit', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main right right right right right'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #333;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 255);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  }

#div1 {
  width: 850px;
  height: 56px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

#editor {
    height: 100%;
    width:50%;
    display:inline-block;
}

#container {
  height:100%;
  width:auto;
  white-space : nowrap; 
  overflow : hidden;
  position:relative;
}

#iframe {
  height:100%;
  display:inline-block;
  width:50%;
}

/* disable tag matching */
.ace_editor .ace_marker-layer .ace_bracket { display: none }